@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root {
    --red: #E50914;
    --black: #000000;
    --light-color: #181818;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --white-color: #fff;
    --gray: #ccc;
    --yellow: #f8ce0b;
}

a {
    text-decoration: none;
}


* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body {
    background-color: var(--light-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
}

section {
    padding: 2rem 9%;
}

section:nth-child(even) {
    background: var(--light-color);
}
.logo img {
    width: 70px;
    /* ajuste o tamanho conforme necessário */
    height: auto;
    /* altura automática para manter a proporção */
    border-radius: 60%;
    /* torna a imagem redonda */
}



header {
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 7%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    background: var(--black);
}

.heading {
    text-align: center;
    color: var(--red);
    margin-bottom: 3rem;
    font-size: 4rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #010101;
    background: var(--red);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover {
    background: var(--black);
    color: var(--red);
}

header .logo {
    color: var(--white-color);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i {
    color: var(--red);

}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--white-color);
   
}

header .navbar a.active,
header .navbar a:hover {
    color: var(--white-color);
    background: var(--red);
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--white-color);
    border-radius: 50%;
    background: var(--red);
}

header .icons i:hover,
header .icons a:hover {
    color: var(--red);
    background: var(--white-color);
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}

.navbar-placeholder {
    height: 100px;
}

.home {
    padding: 0;
}

.home .box {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    justify-content: flex-end;
    padding: 2rem 9%;
}

.home .box {
    justify-content: flex-start;
}

.home .box.second {
    justify-content: flex-end;
}

.home .box .content {
    width: 50rem;
}

.home .box .content h3 {
    font-size: 6rem;
    color: var(--white-color);
    padding-top: .5rem;
    text-transform: uppercase;
}

.home .box .content p {
    line-height: 2;
    color: var(--white-color);
    font-size: 1.5rem;
    padding: 1rem 0;
}


/* Parte inicial dos card dos mangas */
.anime, .action, .child, .family {
    padding: 5rem;
}

.anime .box, .action .box, .child .box, .family .box {
    width: 320px;
    /* Largura fixa */
    height: 350px;
    /* Altura fixa */
    overflow: hidden;
    /* Garante que a imagem não ultrapasse os limites do contêiner */
    display: flex;
    /* Para alinhar a imagem no centro vertical e horizontalmente */
    justify-content: center;
    /* Para alinhar a imagem no centro horizontalmente */
    align-items: center;
    /* Para alinhar a imagem no centro verticalmente */
}

.anime .box img, .action .box img, .child .box img, .family .box img{
    max-width: 100%;
    /* Garante que a imagem não ultrapasse a largura do contêiner */
    max-height: 100%;
    /* Garante que a imagem não ultrapasse a altura do contêiner */
    width: auto;
    /* Para manter a proporção da imagem */
    height: auto;
    /* Para manter a proporção da imagem */
}

.anime .content .price-and-button,
.anime .content .price,
.anime .content .btn, 

.action .content .price-and-button,
.action .content .price,
.action .content .btn,

.child .content .price-and-button,
.child .content .price,
.child .content .btn,

.family .content .price-and-button,
.family .content .price,
.family .content .btn {
    display: flex;
    /* Ativa o flexbox */
    align-items: center;
    /* Centraliza verticalmente */
    justify-content: center;
    /* Centraliza horizontalmente */
    margin-top: 10px;
    /* Adiciona um espaçamento superior */
}

.anime .content .price, 
.action .content .price,
.child .content .price,
.family .content .price {
    font-size: 1.8rem;
    /* Define o tamanho da fonte do preço */
    color: var(--white-color);
    /* Define a cor do texto do preço */
    text-align: center;
    /* Centraliza o texto do preço */
}

.anime .content .price del
.action .content .price del,
.child .content .price del,
.family .content .price del
{
    color: var(--gray);
    /* Define a cor do texto riscado (preço original) */
    text-decoration: line-through;
    /* Adiciona o efeito de texto riscado */
    margin-right: 5px;
    /* Adiciona um espaçamento à direita entre o preço original e o atual */
}

.anime .content .price span,
.action .content .price span,
.child .content .price span,
.family .content .price span
{
    color: var(--red);
    /* Define a cor do texto do preço atual */
    font-weight: bold;
    /* Define a fonte em negrito para o preço atual */
}

.anime .content .btn,
.action .content .btn,
.child .content .btn,
.family .content .btn
{
    margin-left: 30px;
    background-color: var(--red);
    color: var(--white-color);
    padding: 10px 72px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 1.5rem;
}

.anime .content h3,
.action .content h3,
.child .content h3,
.family .content h3{
    font-size: 1.7rem;
    color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
    /* Adiciona espaço entre o título e as estrelas */
}

/* Estrelas */
.anime .content .rating,
.action .content .rating,
.child .content .rating,
.family .content .rating
{
    text-align: center;
    /* Centraliza as estrelas */
    margin-top: 5px;
    /* Adiciona um pequeno espaço entre o nome e as estrelas */
}

.anime .content .rating span,
.action .content .rating span,
.child .content .rating span,
.family .content .rating span
{
    font-size: 14px;
    /* Define o tamanho padrão das estrelas */
    color: var(--yellow);
    /* Cor das estrelas */
}

/* Parte final dos card dos mangas */